.footer-container {
  color: aliceblue;
}

.footer-section {
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-top: 1px solid #333;
  border-radius: 10px 10px 0 0;
}

.footer-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav-list li {
  display: inline;
  margin-right: 15px;
}

.footer-nav-list li:not(:last-child)::after {
  content: "|";
  color: grey;
  margin-left: 15px;
}

.footer-nav-list li a {
  color: aliceblue;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.footer-nav-list li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; 
  bottom: 0; 
  left: 0;
  background-color: rgb(255,203,8);
  background-color: linear-gradient(90deg, rgba(255,203,8,1) 0%, rgba(250,168,25,1) 40%, rgba(244,120,33,1) 100%);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.footer-nav-list li a:hover {
  color: rgb(255,203,8);
  color: radial-gradient(circle, rgba(255,203,8,1) 0%, rgba(250,168,25,0.6819277108433734) 40%, rgba(244,120,33,1) 100%);
}

.footer-nav-list li a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.copyright-section {
  text-align: right;
}
.copyright-text {
  color: rgb(255,203,8);
  color: linear-gradient(90deg, rgba(255,203,8,1) 0%, rgba(250,168,25,1) 40%, rgba(244,120,33,1) 100%);
  transition: text-shadow 0.3s ease;
}

.copyright-text:hover {
  text-shadow: 2px 2px 4px rgb(255,203,8);
}